{% extends 'base.html.twig' %}

{% block title %}Modifier Mot de Passe{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="container-content">
            <div class="container-header">
                <h5 class="container-title text-center">Modifier votre Mot de Passe</h5>
            </div>
            <div class="container-body">
                {{ form_start(form, {'attr': {'action': path('app_user_edit_password'), 'method': 'post', 'novalidate': 'novalidate'}}) }}
                
                <div class="row g-2 mb-3">
                    <div class="col-md">
                        <div class="form-floating mb-3">
                            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                            <label for="{{ form.plainPassword.first.vars.id }}">Ancien Mot de Passe</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating mb-3">
                            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                            <label for="{{ form.plainPassword.second.vars.id }}">Confirmation du Mot de Passe</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating mb-3">
                            {{ form_widget(form.newPassword, {'attr': {'class': 'form-control'}}) }}
                            <label for="{{ form.newPassword.vars.id }}">Nouveau Mot de Passe</label>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-between">
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_user_index') }}" class="btn btn-danger">
                        <i class="fa fa-arrow-left"></i>
                        Retour
                    </a>
                    {% else %}
                    <a href="{{ path('app_contact_index') }}" class="btn btn-danger">
                        <i class="fa fa-arrow-left"></i>
                        Retour
                    </a>
                {% endif %}
                    
                    <button type="submit" class="btn btn-primary">
                        Modifier
                        <i class="fas fa-edit"></i>
                    </button>
                </div>

                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}
